<!DOCTYPE html>
html lang="en-US"
  head
    meta charset="utf-8"
    meta name="viewport" content="width=device-width"
    title
      <${input.title}/>
  body
    header
      h2
        -- Brady Young
      h3
        -- liqMix@protonmail.com
      img.logo src="./logo.png" alt="liqMix"
      h1
        <${input.title}/>
      nav.menu
        button onclick="location.href='/'" -- Home
        button onclick="location.href='/projects'" -- Projects
        button onclick="location.href='/midi-genes'" -- Midi-Genes
        button onclick="location.href='https://www.github.com/liqMix/'" -- GitHub
        button onclick="location.href='https://www.linkedin.com/in/liqmix/'" -- LinkedIn
        button onclick="location.href='https://liqmix-public.s3-us-west-2.amazonaws.com/Resume.pdf'" -- Resume

    div.content
      <${input.content}/>
