style {
  h1.name {
    border: 5px;
    font-size: 2.5em;
    font-weight: 750;
    color: #5a2e0f;
  }
  h2.desc {
    font-size: 1em;
    font-style: normal;
    font-weight: 100;
  },
  p.url {
    font-size: 3em;
  }
}

h1.name -- ${input.repo.name}
h2.desc -- ${input.repo.description}
p.url
  a href=input.repo.html_url -- Link
