style {
  .title {
    font-size: 0.75em;
    padding: 0.25em;
    font-weight: 750;
  }
}

h1.name
  button.title onclick="location.href='" + input.repo.html_url + "'" -- ${input.repo.name}
p.desc -- ${input.repo.description}
