style {
  .links {
    font-size: 2em;
    text-align: center;
    margin-top: 1.0em
  }
}

site-layout
  @title -- Links
  @content
    div.links
      a.link href="https://www.github.com/liqMix/" -- GitHub
      br
      br
      a.link href="https://www.linkedin.com/in/liqmix/" -- LinkedIn
      br
      br
      a.link href="https://liqmix-public.s3-us-west-2.amazonaws.com/Resume.pdf" -- Resume
