site-layout
  @title -- Soul Sword
  @content
    h1 -- Title Screen
    img src='./img/title.jpg' height='100%' width='100%'
    h1 -- In-Game
    img src='./img/game.jpg' height='100%' width='100%'
