site-layout
  @title
    -- Home
  @content
    section
      h2 -- Welcome
      p
        --  This is my personal page containing various projects I have either created or contributed to,
        --  as well as links to my profiles on several platforms.
      p
        -- In addition, an interface to my Midi-Genes program is provided, allowing remote execution and then downloading of 
        -- the generated midi files.
