class {
  onCreate() {
    this.state = { note: 'C',
                   scale: 'major',
                   bpm: '120',
                   pop_size: '2500',
                   epochs: '5000',
                   mut_rate: '0.05'
        };
  }

  handleSubmit() {
    console.log('Clicked.');
  }

  handleChange(el) {
    this.state[el.name] = el.value;
  }
}

style {
  p.disclaimer {
    font-style: normal;
    font-size: 1em;
    font-weight: 300;
    text-align: center;
  }

  div.titles {
    margin-top: 2em;
    margin-bottom: 0em;
    text-align: center;
  }
  div.selections {
    font-size: 1em;
    text-align: center;
  }

  select:focus {
    border: 2px solid #5a2e0f;
  }
  input:focus {
    border: 2px solid #5a2e0f;
  }

  button.submit {
    margin-top: 2em;
    text-align: center;
  }
}

site-layout
  @title
    -- Midi-Genes
  @content
    p.disclaimer
      -- Please wait until your request has finished before making another.
      br
      -- BPM can be between 30 and 300.
      br
      -- Population and epochs can be between 2 and 20000.
      br

    div.titles
      -- Note Scale BPM Population Size Epochs Mutation Rate
    div.selections
      select name='note' value=state.note required='true' on-change("handleChange")
        option value='C'  -- C
        option value='C#' -- C#
        option value='D'  -- D
        option value='D#' -- D#
        option value='E'  -- E
        option value='F'  -- F
        option value='F#' -- F#
        option value='G'  -- G
        option value='G#' -- G#
        option value='A'  -- A
        option value='A#' -- A#
        option value='B'  -- B

      select name='scale' value=state.scale required='true' on-change("handleChange")
        option value='major' -- Major
        option value='minor' -- Minor

      input name='bpm' type='number' min='30' max='300' value=state.bpm required='true' on-change("handleChange")
      input name='pop_size' type='number' min='2' max='20000' value=state.pop_size required='true' on-change("handleChange")
      input name='epochs' type='number' min='2' max='20000' value=state.epochs required='true' on-change("handleChange")
      input name='mut_rate' type='number' min='0.0' max='1.0' step='0.01' value=state.mut_rate required='true' on-change("handleChange")
      br
      button.submit onClick("handleSubmit") -- Submit
