class {
  onCreate() {
    this.state = { note: 'C',
                   scale: 'major',
                   bpm: '120',
                   pop_size: '5000',
                   epochs: '5000',
                   mut_rate: '0.05',
                   id: Math.floor(Math.random() * 10000),
                   submit: false,
        };
  }

  handleSubmit() {
    this.state.submit = true
  }

  handleChange(event, el) {
    var val = parseInt(el.value)
    if(el.min) {
      var min = parseInt(el.min)
      var max = parseInt(el.max)
      if(min && (val < min)){
          el.value = el.min;
      }

      if (max && (val > max)){
          el.value = el.max;
      }
    }

    this.state[el.name] = el.value;
  }
}

style {
  .disclaimer {
    font-style: normal;
    font-size: 1em;
    font-weight: 300;
    text-align: center;
  }
  .selections {
    font-size: 1em;
    text-align: center;
    display: flex;
    justify-content: center;
    padding: 1em;
  }

  .group {
    display: inline-block;
  }

  .title {
    margin: 0em 1em;
    font-weight: 600;
  }

  select {
    margin: 0em 1em;
    height: 2em;
    width: 75%;
    box-sizing: border-box;
  }

  input {
    margin: 0em 1em;
    height: 2em;
    width: 75%;
    box-sizing: border-box;
  }
  select:focus {
    border: 2px solid #5a2e0f;
  }
  input:focus {
    border: 2px solid #5a2e0f;
  }

  button.submit {
    display: block;
    text-align: center;
    margin: auto;
  }
}

head
  title -- Midi-Genes

site-layout
  @title -- Midi-Genes
  @content
    div.disclaimer
      br
      button onclick="location.href='https://liqmix-public.s3-us-west-2.amazonaws.com/Midi-Genes+Report.pdf'" -- Initial Report
      br
      br
      -- Please wait until your request has finished before making another.
      br
      -- BPM can be between 30 and 300.
      br
      -- Population and epochs can be between 2 and 50000.

if(!state.submit)
  div.selections
    div.group
      p.title -- Note
      select name='note' value=state.note on-change("handleChange") no-update
        option value='C' -- C
        option value='C#' -- C#
        option value='D'  -- D
        option value='D#' -- D#
        option value='E'  -- E
        option value='F'  -- F
        option value='F#' -- F#
        option value='G'  -- G
        option value='G#' -- G#
        option value='A'  -- A
        option value='A#' -- A#
        option value='B'  -- B

    div.group
      p.title -- Scale
      select name='scale' value=state.scale on-change("handleChange") no-update
        option value='major' -- Major
        option value='minor' -- Minor

    div.group
      p.title -- BPM
      input name='bpm' type='number' min='30' max='300' value=state.bpm on-change("handleChange")

    div.group
      p.title -- Population Size
      input name='pop_size' type='number' min='2' max='50000' value=state.pop_size on-change("handleChange")

    div.group
      p.title -- Epochs
      input name='epochs' type='number' min='2' max='50000' value=state.epochs on-change("handleChange")

    div.group
      p.title -- Mutation Rate
      input name='mut_rate' type='number' min='0.0' max='1.0' step='0.01' value=state.mut_rate on-change("handleChange")
  br
  button.submit on-click('handleSubmit') -- Generate
else
  midi-getter tosend=state
